{% extends 'base.html' %}
{% load static %}
{% block title %}Добавить шаблон{% endblock %}
{% load planning_tags %}
{% block content %}
<main>
	<div class="create_tmp">
		<div class="input_list">
			<ul>
				{% for field in fields %}
				<li class="input_elem" field_id="{{ field.id }}">{{ field.title }}</li>
				{% endfor %}
			</ul>
		</div>

		<div class="workspace">
			<div class="title_form">
				<input type="text" value="{{ template_title }}">
			</div>

			<div class="workspace_main">
				{% if data %}
				{% generate_input  field_id template_id %}
				{% endif %}
			</div>

			<div class="commit_template_block">
				<button class="save_template">Сохранить</button>		

				<button class="delete_template">Удалить</button>
			</div>
		</div>
	</div>

	{% if data %}
		{% generate_popup  template_id %}
	{% endif %}

</main>



{% endblock %}