{% extends 'base.html' %}
{%block title%}Вход{% endblock %}


{% block content %}
<main>

	{% if messages %}
        {% for message in messages %}
        	{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
	            <div class="message success">
	                {{ message }}
	            </div>
            {% else %}
                <div class="message error">
                	{{ message }}
            	</div>
            {% endif %}
        {% endfor %}
    {% endif %}
	
	<div class="register">
		<h2>Сброс пароля</h2>

		<form action="{% url 'reset_password' %}" method="post" class="register-form">
			{% csrf_token %}
			<div class="form__input">
				<label for="login">Ваша почта</label>
				{{form.email}}
				{{ form.email.errors }}
			</div>

			{{ form.non_field_errors }}

			<input type="submit" value="Отправить" class="submit_btn">
		</form>
		
	</div>


</main>
{% endblock %}
