/*General_rules*/
*, *:before, *:after{
	padding: 0;
	margin: 0;
	border: 0;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

button,
input,
optgroup,
select,
textarea,html input[type="button"],
input[type="reset"],
input[type="submit"],button[disabled],
html input[disabled],button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

html{
	height: 100%;
}

main{
	flex: 1 1 auto;
}

.wrap{
	background: linear-gradient(112.53deg, #344C89 6.72%, #273B6C 89.11%);
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	color:  #fff;
	overflow-x: hidden;
}


a{
	color: #fff;
	text-decoration: none;
}

ul, li{
	display: block;
	padding: 0px;
	/*margin: 0px;*/
}

.content {
	position: relative;
	width: 1170px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;

}


/*MESSAGES*/
.message {
	width: 100%;
	border-radius: 12px;
	color: #fff;
	height: 50px;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
	padding-top: 6px;
	margin-bottom: 50px;
}

.success {
	background: linear-gradient(180deg, rgba(51, 255, 0, 0.55) 0%, rgba(4, 216, 0, 0.55) 100%);
	box-shadow: 0px 4px 20px rgba(112, 255, 0, 0.25);
}

.error {
	background: linear-gradient(180deg, rgba(255, 0, 0, 0.55) 0%, rgba(216, 0, 0, 0.55) 100%);
	box-shadow: 0px 4px 20px rgba(255, 0, 0, 0.25);
}

/*HEADER*/

header {
	margin-top: 37px;
	display: flex;
	height: 81px;
	margin-bottom: 103px;


}

.logo{
	display: flex;
	margin-right: 261px;
}

.logo-img{
	width:  40px;
	height: 40px;
	background-color: #fff;
	box-shadow: 0px 4px 10px rgba(87, 255, 72, 0.29);
	border-radius: 5px;
	margin: 20px 19px 21px 0px;
}

.logo-img img{
	margin: 5.19px;
	margin-top: 8px;
}

h1.logo-text {
	font-weight: 500;
	font-size: 54px;
	line-height: 81px;
	margin-top: 0px;
	letter-spacing: 0.045em;
	white-space: nowrap;
}

.menu ul{
	display: flex;
	list-style-type: none;
}

.menu_el{
	margin-right: 73px;

}

.menu_el a{
	font-size: 25px;
	font-weight: normal;
	letter-spacing: 0.045em;
}

.menu_el.active a{
	font-weight: 500;
	font-size: 30px;
	border-bottom: 1px solid #fff;
	display: inline-block;
	line-height: 34px;
	margin-top: 0px;
}

.menu {
	margin-top: 17px;
	white-space: nowrap;

}


.menu_el{
	margin-top: 5px;
} 

.menu_el:nth-child(3){
	margin-right: 0px;
}


/*FOOTER*/
footer{
	/*height: 285px;*/
	display: flex;
	margin-bottom: 100px;
}

footer h3.title{
	display: block;
	font-weight: bold;
	font-size: 40px;
	border-bottom: 3px solid #fff;
}

.about_us{
	margin-right: 118px;
}

.about_us .title{
	width: 168px;
	margin-bottom: 27px;
}

.about_us-text{
	font-size: 22px;
	width: 285px;
	line-height: 33px;
}

.social_nets{
	margin-right: 114px;
}

.social_nets ul{
	display: flex;
	margin-top: 66px;
	margin-left: 11px;
}

.social_nets ul li{
	margin-right: 57px;
}

.social_nets .title{
	width: 421px;
}

.social_nets ul li:nth-child(4){
	margin-right: 0px;
}

.footer_navigation .title{
	width: 286px;
}

.footer_navigation ul li a{
	font-size: 22px;
}

.footer_navigation ul li a.footer_nav_active{
	font-weight: 600;
}

.footer_navigation ul li{
	margin-bottom: 29px;
}





/*PAGE "Главная" MAIN*/
main.index_main{
	flex: 1 1 auto;
}

.offer h2{
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 0.045em;
	margin-bottom: 44px;
}

.offer{
	width: 505px;
	float: left;
	margin-top: 40px;
	margin-bottom: 280px;
}

.offer_image{
	float: right;
	margin-left: 195px;
	position: absolute;
}

.offer-cards{
	display: flex;
	margin-left: 15px;
}

.offer-card{
	background-color: #fff;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	width: 100px;
	height: 100px;
	text-align: center;
	margin-right: 67px;
	margin-bottom: 81px;
}

.offer-card img{
	width: 75px;
	margin-top: 12px;
}

.offer-card:nth-child(2) img{
	padding: 0px 7px 0px 18px;
}

.offer-card__label{
	font-size: 15px;
	letter-spacing: 0.045em;
	padding-top: 8px;
}

.offer-card:nth-child(1) .offer-card__label {
	margin-left: -8px;
}

.offer_auth__sign-up{
	background: #FF7A00;
	border-radius: 30px;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0.02em;
	padding: 10px 23px 10px 23px;
	margin-right: 29px;
}

.offer_auth__sign-in{
	background: #FF7A00;
	border-radius: 30px;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0.02em;
	padding: 10px 51px 10px 51px;
	margin-right: 29px;
}

.offer_auth__sign-in:hover, .offer_auth__sign-up:hover{
	box-shadow: 4px 4px 20px rgba(255, 153, 0, 0.25);
	transition-duration: 0.3s;
}

.offer_auth .welcome {
	font-weight: bold;
	font-size: 19px;
	letter-spacing: 0.02em;
	display: inline-block;
	margin-right: 15px;
}

.templates_ex{
	height: 705px;
	background: linear-gradient(103deg, #9E9CFF 3.78%, #9391DD 90.88%);
	margin-top: 740px;
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
	padding-top: 82px;
	margin-bottom: 82px;
}

.templates_ex-title{
	font-size: 36px;
	margin-bottom: 49px;
}

.templates_container{
	width: 1170px;
	margin: 0 auto;
}

.templates_blocks{
	display: flex;
}

.template_block {
	background: #F2FF59;
	margin: 0px 30px 30px 0px
}

#t1 {
	width: 270px;
	height: 140px;
}

#t2 {
	width: 270px;
	height: 143px;
}

#t3 {
	width: 170px;
	height: 310px;

}

#t4 {
	width: 370px;
	height: 136px;
}

#t5 {
	width: 101px;
	height: 144px;
}

#t6 {
	width: 239px;
	height: 144px;
}

#t7 {
	width: 270px;
	height: 100px;
}

#t8 {
	width: 270px;
	height: 180px;
}

#t1 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#t2 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#t3 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#t4 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#t5 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#t6 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#t7 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#t8 img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.quick_start-title{
	font-size: 36px;
	margin-bottom: 70px;
}

.step h4 {
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 0.065em;
	margin-bottom: 31px;
	margin-left: 15px;
}

.step_info {
	/*float: left;*/
	margin-right: 71px;

}

.step_info p {
	width: 330px;
	font-size: 22px;
	margin-bottom: 49px;
}


.step {
	letter-spacing: 0.065em;
	display: flex;

}

.step .step_image {
	width: 770px;
	height: 436px;
	background: #fff;
	/*float: right;*/
}

.quick_start{
	margin-bottom: 304px;
}

.step_image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.step_image{
	border: 1px solid #fff;
}

/*AUTH PAGES*/


.register {
	margin-top: 33px;
	margin-left: 300px;
	width: 570px;
	margin-bottom: 246px;
}

.register h2{
	letter-spacing: 0.045em;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	margin-bottom: 31px;

}

.form__input{
	margin-bottom: 21px;
}

.form__input input{
	padding: 10px;
	width: 100%;
	border-radius: 12px;
	border: none;
	height: 23px;
	outline: none;
	font-size: 20px;
	letter-spacing: 0.045em;
}

::-webkit-input-placeholder {
	font-size: 15px;
	letter-spacing: 0.045em;
	color: #A6A6A6;
}
::-moz-placeholder{
	font-size: 15px;
	letter-spacing: 0.045em;
	color: #A6A6A6;
}
:-moz-placeholder{
	font-size: 15px;
	letter-spacing: 0.045em;
	color: #A6A6A6;
}
:-ms-input-placeholder{
	font-size: 15px;
	letter-spacing: 0.045em;
	color: #A6A6A6;
}


.form__input input[type="text"]:focus,
.form__input input[type="password"]:focus{
	border: 2px solid #4AD4FF;
	box-shadow: 4px 4px 10px rgba(74, 212, 255, 0.25);
	transition-duration: 0.3s;
}

label {
	letter-spacing: 0.045em;
	font-size: 20px;
}

.submit_btn {
	width: 200px;
	height: 37px;
	background: #FF8A00;
	/*box-shadow: 4px 4px 20px rgba(255, 153, 0, 0.25);*/
	border-radius: 20px;
	border: none;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	margin-left: 185px;
	margin-top: 29px;
}

.submit_btn:hover {
	box-shadow: 4px 4px 20px rgba(255, 153, 0, 0.25);
	transition-duration: 0.3s;
	cursor: pointer;
}

.sign_in__link{
	font-size: 15px;
	letter-spacing: 0.045em;
	border-bottom: 1px solid #fff;
	display: inline-block;
	float: right;
	margin-right: -14px;
	margin-top: 5px;
}

.forgot_pasword__link{
	font-size: 15px;
	letter-spacing: 0.045em;
	border-bottom: 1px solid #fff;
	display: inline-block;
	margin-top: 5px;
	margin-left: 4px;
}

.info_text {
	font-weight: 500;
	font-size: 33px;
	letter-spacing: 0.045em;
}

.info_wrap {
	width: 847px;
	margin: 0 auto;
	margin-bottom: 516px;
}

/*ADD TEMPALTE PAGE*/

.create_tmp {
	display: flex;
}

.workspace {
	width: 870px;
	min-height: 800px;
	background-color: #fff;
	border-radius: 20px;
	position: relative;
}

.input_list{
	margin-right: 31px;
}

.input_list ul {
	margin: 0px;
}

.commit_template_block {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 47px;
	margin-bottom: 20px;
	margin-top: 30px;
}

li.input_elem {
	width: 270px;
	height: 65px;
	background: #FFFFFF;
	border-radius: 25px;
	color: #000;
	font-size: 25px;
	text-align: center;
	margin-bottom: 15px;
	line-height: 61px;
}

li.input_elem[field_id="5"]{
	font-size: 21px;	
}

.create_tmp {
	margin-top: 70px;
	margin-bottom: 130px;
}

.title_form input {
	color: #000;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	text-align: center;
	outline: none;
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 70px;
	border: none;
}


.save_template {
	width: 170px;
	height: 44px;
	font-size: 25px;
	background: #6BFFB8;
	box-shadow: 4px 4px 40px rgba(136, 255, 106, 0.55);
	border-radius: 8px;
	border: none;
	margin-right: 30px;

}

.delete_template {
	height: 44px;
	width: 124px;
	font-size: 25px;
	color: #fff;
	background: #FF6868;
	box-shadow: 4px 4px 30px rgba(255, 41, 41, 0.35);
	border-radius: 8px;
	border: none;
}

.save_template:hover{
	cursor: pointer;
	background: #56FF85;
	box-shadow: 4px 4px 40px rgba(51, 255, 0, 0.55);
	transition-duration: 0.3s;
}

.delete_template:hover {
	cursor: pointer;
	background: #EB3C3C;
	box-shadow: 4px 4px 40px rgba(255, 0, 0, 0.35);
	transition-duration: 0.3s;
}

.workspace_main {
	margin-top: 30px;
	margin-bottom: 200px;
}

/*text*/
div.input_wrapper {
	display: block;
}

input.input_text_css {
	margin-left: 170px;
	margin-right: 30px;
	display: inline-block;
	width: 60%;
	height: 30px;
	font-size: 20px;
	border-radius: 8px;
	border: 2px solid #000000;
}

input.input_text_css:focus{
	outline: none;
	border: 2px solid #4AD4FF;
	box-shadow: 4px 4px 10px rgba(74, 212, 255, 0.25);
	transition-duration: 0.3s;
}

/*textarea*/
div.textarea_wrapper {
	display: block;
	position: relative;
}

.textarea_wrapper i{
/*	position: absolute;
	top: 20px;*/
}

i.fa-trash.delete_input{
	position: inherit;
	margin-left: 10px;
	color: #000;
	font-size: 23px;
}

.button_input i.fa-trash.delete_input{
	position: absolute;
	top: 0;
	left: 275px;
}

.textarea_wrapper i.fa-trash.delete_input{
/*	position: absolute;
	top: 10px;
	left: 720px;*/
}

i.fa-trash.delete_input:hover{
	font-size: 25px;
	transition-duration: 0.2s;
}

textarea.input_text_css {
	width: 60%;
	height: 130px;
	margin-left: 170px;
	margin-right: 31px;
	display: inline-block;
	resize: vertical;
	font-size: 18px;
	border-radius: 8px;
	border: 2px solid #000000;
}

textarea.input_text_css:focus{
	outline: none;
	border: 2px solid #4AD4FF;
	/*transition-duration: 0.3s;*/
	box-shadow: 4px 4px 10px rgba(74, 212, 255, 0.25);
}

/*number*/
input.input_number_css {
	width: 60%;
	margin-left: 170px;
	margin-right: 30px;
	display: inline-block;
	height: 30px;
	font-size: 20px;
	border-radius: 8px;
	border: 2px solid #000000;
}

input.input_number_css:focus {
	outline: none;
	border: 2px solid #4AD4FF;
	transition-duration: 0.3s;
	box-shadow: 4px 4px 10px rgba(74, 212, 255, 0.25);
}

/*radio*/
div.button_input {
	display: block;
	position: relative;
}

.button_wrap {
	display: inline-block;
	margin-right: 30px;
}

.button_input i {
	position: absolute;
	top: 0;
	margin-top: 5px;
}

label.input_radio_css_label {
	display: block;
	margin-left: 20px;
}

input.input_radio_css {
	display: none;
}

label.input_radio_css_label .input_radio_css_fake{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid black;
	position: relative;

}

.input_radio_css_fake::before {
	content: "";
	position: absolute;
	display: block;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background-color: #51c71a;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: .2s;
}

input.input_radio_css:checked + .input_radio_css_fake::before{
	opacity: 1;
}

/*checkbox*/
label.input_checkbox_css_label {
	display: block;
	margin-left: 20px;
}

input.input_checkbox_css {
	display: none;
}

label.input_checkbox_css_label .input_checkbox_css_fake{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	position: relative;

}

.input_checkbox_css_fake::before {
	content: "";
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	background-color: #469fcf;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: .2s;
}

input.input_checkbox_css:checked + .input_checkbox_css_fake::before{
	opacity: 1;
}

span.text {
	color: #000;
	margin-left: 10px;
}

.button_input {
	margin-bottom: 30px;
}


/*select*/
select.input_text_css {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	display: block;
	margin-left: 0 auto;
	border: 1px solid black;
	border-radius: 6px;
	padding: 10px 35px 10px 15px;
	background-color: #fff;
	outline: none;
	cursor: pointer;
	font-size: 18px;


}

select.input_text_css::-ms-expand {
	display: none;
}

.select_wrap {
	display: inline-block;
	width: 60%;
	margin: 0 auto;
	position: relative;
	margin-left: 170px;
	margin-right: 36px;
}

.select_wrap::before {
	content: "";

	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	display: block;
	pointer-events: none;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10.4px 6px 0 6px;
	border-color: #7e9bbd transparent transparent transparent;

}

select.input_text_css:focus {
	outline: none;
	border: 2px solid #4AD4FF;
	box-shadow: 4px 4px 10px rgba(74, 212, 255, 0.25);
}


/*date*/
.input_date_css {
	display: inline-block;
	width: 60%;
	margin-left: 170px;
	margin-right: 30px;
	padding: 7px 0 7px 5px;
	border-radius: 8px;
	border: 2px solid #000000;
}

.input_date_css:focus {
	outline: none;
	border: 2px solid #4AD4FF;
	box-shadow: 4px 4px 10px rgba(74, 212, 255, 0.25);
	transition-duration: 0.3s;
}

.input_elem:hover{
	filter: drop-shadow(5px 20px 40px rgba(0, 0, 0, 0.37));
	transition-duration: 0.3s;
	cursor: pointer;
}

/*email*/
.input_email_css {
	width: 60%;
	margin-left: 170px;
	margin-right: 30px;
	display: inline-block;
	height: 30px;
	font-size: 20px;
	border-radius: 8px;
	border: 2px solid #000000;
}

.input_email_css:focus {
	outline: none;
	border: 2px solid #4AD4FF;
	box-shadow: 4px 4px 10px rgba(74, 212, 255, 0.25);
	transition-duration: 0.3s;
}

/*range*/
.input_range_css {
	width: 60%;
	display: inline-block;
	margin-left: 170px;
	margin-right: 30px;
	border: 1px solid #d4d4d4;

}



.workspace_main .input_wrapper, 
.workspace_main .textarea_wrapper, 
.workspace .select_wrapper {
	margin-bottom: 40px;
}

.input_settings {
	color: #000;
	font-size: 24px;
}

.input_settings:hover {
	font-size: 26px;
	transition-duration: 0.2s;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

/* MODAL */
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup.open .popup__content {
	transform: translate(0px, 0px);
	opacity: 1;
}

.popup__area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

body.lock {
	overflow: hidden;
}

.popup__body {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 10px;
}

.popup__content {
	background-color: #fff;
	color: #000;
	max-width: 800px;
	padding: 30px;
	position: relative;
	opacity: 0;
	transition: all 0.8s ease 0s;
	transform: translate(0px, -100%);
	border-radius: 20px;
	border: 2px solid #000;
}

.popup__title {
	text-align: center;
	font-weight: 500;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 37px;
}


.popup__close {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	color: #000;
	text-decoration: none;
}


.tabs{
	display: flex;
	margin-bottom: 65px;
}

.tab{
	width: 161px;
	height: 41px;
	margin-right: 11px;
	background-color: #F3F7FF;
	font-size: 20px;
	color: #000;
	text-align: center;
	padding-top: 8px;
}

.tab.current {
	background-color: #699CFF;
	color: #fff;
}

.popup__main {
	padding: 0px 40px;
}

.main_form {
	border-top: 1px solid #000;
	padding-top: 19px;
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 300px;
}

.main_form span {
	font-size: 20px;
	margin-right: 42px;
}

.main_form input[type="text"],
.main_form input[type="number"] {
	height: 31px;
	width: 100%;
	font-size: 20px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #000;
	padding: 4px;
}

.main_form input:focus{
	border: 2px solid #4AD4FF;
	box-shadow: 4px 4px 10px rgba(74, 212, 255, 0.25);
	transition-duration: 0.3s;
}

.modal_settings__input {
	margin-bottom: 29px;
}

.modal_settings__input:last-child {
	text-align: center;
}

.choose_options__span {
	display: block;
	margin-bottom: 20px;
}

.choose_options__input{
	margin-bottom: 20px;
}

.add_option__btn {
	width: 171px;
	height: 42px;
	font-size: 40px;
	background: linear-gradient(97.04deg, #FAE52D 25.5%, #FAC02D 79.96%);
	border-radius: 31px;
	border: none;
	outline: none;
	line-height: 40px;
	display: block;
	margin: 0 auto;
}

.add_option__btn:hover {
	box-shadow: 4px 4px 16px rgba(6, 6, 6, 0.25);
	transition-duration: 0.3s;
}

.properties_tab{
	display: none;
}

.sizes_tab {
	display: none;
}

.content_tab {
	display: none;
}

.save_changes {
	width: 156px;
	height: 37px;
	background: #94FF83;
	border-radius: 10px;
	border: none;
	outline: none;
	font-weight: 500;
	font-size: 20px;
	position: absolute;
	bottom: 22px;
	right: 31px;
}

.save_changes:hover{
	box-shadow: 4px 4px 10px rgba(47, 181, 0, 0.6);
	transition-duration: 0.3s;
}

.input_label{
	color: #000;
	display: block;
	margin-left: 180px;
	margin-bottom: 8px;
	max-width: 300px;
	overflow: hidden;
}

.input_label_for_button{
	color: #000;
	display: block;
	margin-left: 20px;
	margin-bottom: 6px;
	max-width: 300px;
	overflow: hidden;

}


.my_plans{
	margin-top: 100px;	
	margin-bottom: 292px;
}

.templates_view{
	display: flex;
	margin-bottom: 40px;
}

.templates_view_buttons{
	display: flex;
	margin-left: 60px;
	margin-right: 800px;

}

.add_template-btn{
	width: 170px;
	height: 42px;
	background: #FFC700;
	border-radius: 10px;
	text-align: center;
	filter: drop-shadow(4px 4px 20px rgba(255, 153, 0, 0.25));
}

.add_template-btn a{
	line-height: 40px;
	color: #000;
	font-size: 20px;
}

.line_view-btn {
	width: 42px;
	height: 42px;
	background: #FFFFFF;
	box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	text-align: center;
	margin-right: 16px;
}

.choosed{
	border: 1px solid #000000;
}

.line_view-btn img {
	width: 40px;
	height: 9px;
	margin-top: 16px;
}

.grid_view-btn{
	width: 42px;
	height: 42px;
	background: #FFFFFF;
	border-radius: 5px;
	text-align: center;
}

.grid_view-btn img {
	margin-top: 5px;
}

/* slider  */
.template_card_wrap{
	margin-right: 80px;
}

.template_card{
	width: 270px;
	height: 310px;
	background: #FFFFFF;
	border-radius: 14px;
	position: relative;
	align-items: center;
}

.template_card:hover{
	box-shadow: 5px 20px 40px rgba(0, 0, 0, 0.37);
	transition-duration: 0.3s;
}

.my_templates {
	border-bottom: 4px solid #FFFFFF;
	padding-bottom: 84px;
	margin-bottom: 123px;
}

.choosed_template{
	border: 5px solid #24FF00;
}

.show_tmp{
	position: absolute;
	top: 0;
	left: 12px;
}

.edit_tmp{
	position: absolute;
	top: 5px;
	right: 12px;
}

.text_emitation{
	margin: 79px 46px 0 46px;
}

.template_title{
	letter-spacing: 0.04em;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
}


/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track{
	display: flex;
}

/* slider */
.slider{
	position: relative;
	padding: 0px 60px;
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 50px;
	margin: -50px 0px 0px 0px;
}

.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../images/svg/previous.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../images/svg/next.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider .slick-dots li{
	list-style: none;
	margin: 0 10px;
}

.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}



.slider__item{

}


/* ------------ */

.pre_list-plans{
	display: flex;
	margin-bottom: 148px;
}

.add_plan{
	width: 170px;
	height: 50px;
	background: #FFC700;
	box-shadow: 4px 4px 20px rgba(255, 153, 0, 0.25);
	border-radius: 10px;
	color: #000000;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
}

.sort_by{
	margin-left: 30px;
	margin-right: 704px;
	display: inline-block;
	position: relative;
}

.sort_by select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	width: 200px;
	display: block;
	border: 1px solid black;
	border-radius: 6px;
	padding: 14px 35px 10px 15px;
	background-color: #fff;
	outline: none;
	cursor: pointer;
	font-size: 18px;

}

.sort_by select::-ms-expand {
	display: none;
}

.sort_by::before {
	content: "";

	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	display: block;
	pointer-events: none;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10.4px 6px 0 6px;
	border-color: #000 transparent transparent transparent;


}

.plans_list{
	margin-left: 0px;
}
.row{
	display: flex;
	margin-bottom: 20px;
}

.plan_wrapper{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.plan_card{
	width: 270px;
	min-height: 150px;
	background-color: #fff;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	position: relative;
	/*margin-right: 130px;*/
	padding-top: 40px;
	margin-bottom: 20px;
}

.row .plan_card:last-child{
	margin-right: 0px;
}

i.fa-trash-alt {
	position: absolute;
	top: 5px;
	left: 10px;
	color: black;
	font-size: 24px;
}

i.fa-trash-alt:hover{
	font-size: 28px;
}

.redact_card_icon{
	position: absolute;
	top: 5px;
	right: 10px;
}

.redact_card_icon:hover{
	width: 35px;
}

.input_data{
	padding: 5px;
	border-bottom: 1px solid #000;
	color: #000;
	font-weight: 500;
	font-size: 20px;
	min-height: 20px;
	text-align: center;
}

.input_data:last-child{
	border: none;
}


/* working inputs */

/*text*/
div.input_wrapper {
	display: block;
}

input.input_text_css.working {
	width: 600px;
	margin: 30px 0px;
}


textarea.input_text_css.working {
	width: 600px;
	margin: 30px 0px;
}


/*number*/
input.input_number_css.working {
	width: 600px;
	margin: 30px 0px;
}

/*select*/
.select_wrap.working {
	width: 600px;
	margin: 30px 0px;
}

/*date*/
.input_date_css.working {
	width: 600px;
	margin: 30px 0px;
}
 

/*email*/
.input_email_css.working {
	width: 600px;
	margin: 30px 0px;
}


/*range*/
.input_range_css.working {
	width: 600px;
	margin: 30px 0px;
}

.input_label.working{
	margin: 0px 0px -20px 5px;
}

.edit_tmp:hover{
	width: 35px;
}

/*HELP PAGE*/

main.help{
	margin-top: 80px;
}

.help_form_label{
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	margin-bottom: 20px;
}

.contact_form_btn{
	margin-left: 0px;
}

.email_contact_input{
	width: 400px;
	height: 30px;
	border-radius: 6px;
	padding: 5px;
	font-size: 18px;
	border: 2px solid #fff;
}

.email_input_wrapper{
	margin-bottom: 20px;
}

.email_contact_input:focus{
	outline: none;
	border: 2px solid #4AD4FF;
	box-shadow: 4px 4px 10px rgba(74, 212, 255, 0.25);
}

.message_contact_input{
	width: 870px;
	height: 292px;
	border-radius: 10px;
	padding: 15px;
	resize: vertical;
	font-size: 18px;
	border: 2px solid #fff;
}

.message_contact_input:focus{
	outline: none;
	border: 2px solid #4AD4FF;
	box-shadow: 4px 4px 10px rgba(74, 212, 255, 0.25);
}

.help_form_label{

}

.contact_form{
	margin-bottom: 200px;
}



/*MEDIA*/

@media screen and (max-width: 1300px){
	/*index*/

	.menu {
		margin-top: 17px;
	}

	.offer_image{
		display: none;
	}

	.offer{
		/*margin-left: 280px;*/
		display: block;
		margin-left: 30%;
	}

	.footer_el h3.title{
		font-size: 30px;

	}

	.footer_el p{
		width: 210px;
	}

	.social_nets .title{
		width: 390px;
	}

}

@media screen and (max-width: 1200px){
	.content{
		width: 1024px;
	}

	.logo{
		margin-right: 100px;
		margin-left: 15px;
	}



	.templates_ex-title{
		text-align: center;
	}

	.templates_container{
		width: 1025px;
	}

	#t1, #t2{
		margin-left: 20px;
	}

	#t3{
		display: none;
	}

	#t7, #t8{
		margin-right: 0px;
	}

	.quick_start-title{
		text-align: center;
	}

	.step_info{
		margin-left: 20px;
	}

	.step .step_image{
		width: 566px;
	}


	.templates_view_buttons{
		margin-right: 705px;
	}

	.sort_by{
		margin-right: 627px;
	}

	.plan_card{
		width: 247px;
	}

	footer{
		display: flex;
		flex-wrap: wrap;
	}

	.footer_el{
		margin-bottom: 50px;
	}

	.register{
		margin-left: 234px;
	}

	.info_wrap{
		width: 1024px;
	}

	.message.error{
		height: 90px;
	}

}

@media screen and (max-width: 1024px){
	.content{
		width: 960px;
	}

	header{
		display: block;
	}

	.logo{
		margin-left: 30%;
	}

	.menu{
		margin-left: 23%;
	}

	.offer{
		margin-left: 27%;
	}

	.templates_container{
		width: 960px;
	}

	#t7, #t8{
		display: none;
	}

	#t1, #t2{
		margin-left: 150px;
	}

	.step_info{
		margin-left: 40px;
	}

	.step .step_image{
		width: 466px;
	}

	.templates_view_buttons{
		margin-right: 521px;
	}

	.sort_by{
		margin-right: 508px;
	}

	.plan_card{
		width: 226px;
		margin-right: 100px;
	}

	.template_card_wrap {
    margin-right: 156px;
	}


	input.input_text_css,
	textarea.input_text_css,
	input.input_number_css,
	div.select_wrap,
	input.input_date_css,
	input.input_email_css,
	input.input_range_css{
		margin-left: 120px;
	}

	.register{
		margin-left: 180px;
	}

	.info_wrap{
		width: 960px;
	}


}

@media screen and (max-width: 960px){
	.content{
		width: 768px;
	}
	.logo{
		margin-left: 24%;
	}

	.menu{
		margin-left: 16%;
	}

	.templates_container{
		width: 768px;
	}

	#t1, #t2{
		margin-left: 57px;
	}

	.templates_view_buttons{
		margin-right: 427px;
	}

	.sort_by {
    margin-right: 368px;
	}

	.plan_card{
		width: 180px;
	}

	.template_card_wrap {
    margin-right: 48px;
	}

	input.input_text_css,
	textarea.input_text_css,
	input.input_number_css,
	div.select_wrap,
	input.input_date_css,
	input.input_email_css,
	input.input_range_css{
		margin-left: 40px;
	}


	.message_contact_input{
		width: 617px;
	}

	.about_us {
    margin-right: 30px;
	}

	.offer{
		margin-left: 19%;
	}

	.register{
		margin-left: 90px;
	}

	.info_wrap{
		width: 768px;
	}

	.popup__content{
		max-width: 760px;
	}

}

@media screen and (max-width: 768px){
	.content{
		width: 425px;
	}

	h1.logo-text{
		font-size: 48px;
	}

	.logo{
		margin-left: 10%;
	}

	.menu{
		margin-left: 0%;
	}

	.menu_el{
		margin-right: 30px;
	}

	.offer{
		margin-left: -5%;
	}

	.offer h2{
		font-size: 35px;
		margin-left: 27px;
	}

	.offer-card{
		margin-right: 54px;
	}

	.offer-cards{
		margin-left: 30px;
	}

	.offer_auth{
		margin-left: 25px;
	}

	.offer_auth__sign-in{
		padding: 10px 35px 10px 35px;
	}

	.offer_auth__sign-up{
		padding: 10px 15px 10px 15px;
	}

	.templates_container{
		width: 425px;
	}

	.templates_ex{
		height: 900px;
	}

	.templates_blocks{
		display: block;
	}

	.template_block{

	}

	input.input_text_css,
	textarea.input_text_css,
	input.input_number_css,
	div.select_wrap,
	input.input_date_css,
	input.input_email_css,
	input.input_range_css{
		margin-left: 15px;
	}


	#t1, #t2{
		width: 370px;
		margin-left: 28px;
	}

	.sostav{
		margin-left: 28px;
	}

	.step_image{
		display: none;
	}

	.templates_view_buttons{
		margin-right: 60px;
	}

	.grid_view-btn{
		display: none;
	}

	.template_card_wrap {
    margin-right: 23px;
	}

	.sort_by {
    margin-right: 5px;
	}

	.plans_list{
		margin-left: 100px;
	}

	.footer_el{
		margin-left: 23%;
	}

	.create_tmp{
		display: block;
	}

	.input_list ul{
	}

	.input_list{
		margin-bottom: 60px;
		margin-left: 19%;
	}

	.workspace{
		margin-left: -5px;
		width: 435px;
		padding-bottom: 30px;
	}

	.popup__content{
		max-width: 400px;
	}

	.working {
		width: 312px !important;
	}

	.message_contact_input{
		width: 386px;	
	}


	.contact_form{
		text-align: center;
	}

	footer{
		margin-left: -70px;
	}

	.register{
		width: 400px;
		margin-left: 11px;
	}

	form.register-form {
    width: 100%;
    text-align: center;
	}

	.submit_btn{
		margin-left: 26px;
	}

	.register-form .submit_btn{
		margin-left: 45px;
	}

	.forgot_pasword__link{
		margin-left: -124px;
	}

	.info_wrap{
		width: 425px;
	}

	.tab {
    	width: 109px;
    	height: 34px;
    	font-size: 16px;
	}

	form[action="/login/"] .submit_btn{
		margin-left: 0px;
	}

	form[action="/reset-password/"] .submit_btn{
		margin-left: 0px;
	}

	.message.error{
		height: 190px;
	}

}

@media screen and (max-width: 425px){
	.content{
		width: 375px;
	}

	.logo{
		margin-left: 6%;
	}

	.menu ul{
		display: block;
	}

	.menu_el{
		margin-bottom: 15px;
		text-align: center;
	}

	.menu_el:nth-child(3){
		margin-right: 30px;
	}

	.message{
		height: 93px;
	}

	.message.error{
		height: 190px;
	}

	.menu{
		margin-left: 13%;
	}

	header{
		margin-bottom: 230px;
	}

	.offer h2{
		font-size: 30px;
		text-align: center;
	}

	.offer{
		width: 375px;
		margin-left: -2%;
	}

	.offer_auth{
		margin-left: 25px;
	}

	.offer_auth__sign-in{
		padding: 10px 42px 10px 42px;
	}

	.offer_auth__sign-up{
		padding: 10px 23px 10px 23px;
	}

	.templates_ex {
	}

	.offer-cards{
		display: block;
	}

	.offer-card{
		margin-bottom: 53px;
		margin-left: 33%;
		margin-right: 0px;

	}

	.offer_auth .welcome{
		display: block;
		margin-right: 0px;
		text-align: center;
		margin-bottom: 20px;
	}

	.input_list{
		margin-left: 15%;
	}

	.offer_auth__sign-in{
		margin-right: 0px;
		margin-left: 27%;
	}

	.offer_auth__sign-up{
		display: block;
		margin-bottom: 30px;
		margin-right: 0px;
		text-align: center;
		/*margin-left: 10%;*/
	}

	.templates_container{
		width: 375px;
	}

	.templates_ex{
    	margin-top: 1000px;
	}

	#t1, #t2{
		width: 300px;
		margin-left: 40px;
	}

	#t4{
		width: 300px;

	}

	.sostav{
		margin-left: 40px;
	}

	.plan_card {
    width: 232px;
	}

	.add_template-btn{
		width: 121px;
	}

	.template_card {
    	width: 232px;
  	}

  	.text_emitation{
  		margin-left: 29px;
  	}

  	.popup__content{
		max-width: 340px;
	}		

	.working {
		width: 100px !important;
	}

  	.workspace{
		margin-left: -7px;
		width: 390px;
		padding-bottom: 30px;
	}

	.sort_by{
		margin-left: 10px;
	}

	input.input_text_css,
	textarea.input_text_css,
	input.input_number_css,
	div.select_wrap,
	input.input_date_css,
	input.input_email_css,
	input.input_range_css{
		margin-left: 17px;
	}

	i.input_settings{
		/*display: none;*/
	}

	.message_contact_input{
		width: 320px;
	}

	.email_contact_input{
		width: 340px;
	}

	.social_nets ul li {
    margin-right: 22px;
	}

	.social_nets .title {
    width: 295px;
	}

	.register{
		width: 300px;
		margin-left: 26px;
	}

	form.register-form {
    width: 100%;
    text-align: center;
	}

	.submit_btn{
		margin-left: 0px;
	}

	.forgot_pasword__link {
    margin-left: -18px;
	}

	.info_wrap{
		width: 320px;
	}

	.tabs{
		display: block;
	}

	.tab{
		width: 100%;
		margin-bottom: 10px;
	}

	.register-form .submit_btn{
		margin-left: 40px;
	}

}

@media screen and (max-width: 375px){
	.content{
		width: 320px;
	}

	.logo{
		margin-left: -3%;
	}

	h1.logo-text{
		font-size: 44px;
	}

	.logo-img{
		margin-left: 12px;
	}

	.offer{
		width: 320px;
		margin-left: -3%;
	}

	.offer h2{
		font-size: 25px;
	}

	.popup__content{
		max-width: 215px;
	}		


	.templates_ex{
		margin-top: 900px;
	}

	.templates_container{
		width: 320px;
	}

	.templates_ex-title{
		font-size: 30px;
	}


	.step{
		text-align: center;
		margin-left: -47px;
		display: block;
	}

	.step h4{
		margin-left: 21px;
    	white-space: nowrap;
	}

	#t1, #t2, #t4{
		margin-right: 0px;
		width: 280px;

	}

	#t1, #t2{
		margin-left: 25px;
	}

	.sostav{
		margin-left: 25px;

	}

	#t6{
		margin-right: 14px;
	}

	.template_card {
    width: 178px;
	}

	.text_emitation{
		width: 150px;
		margin-left: 16px;
	}

	.workspace{
		margin-left: -7px;
		width: 333px;
	}

	.input_list{
		margin-left: 8%;
	}

	.message_contact_input{
		width: 266px;
	}

	.email_contact_input{
		width: 286px;
	}

	.register{
		width: 250px;
		margin-left: 26px;
	}

	form.register-form {
    width: 100%;
    text-align: center;
	}

	.submit_btn{
		margin-left: 0px;
	}

	.register-form .submit_btn{
		margin-left: 14px;
	}

	.sign_in__link{
		float: none;
	}

	.forgot_pasword__link{
		float: none;
	}

	.sort_by select{
		width: 190px;
	}

	.sort_by {
    	margin-left: 4px;
	}

	.templates_view_buttons {
		margin-left: 40px;
	}
	.save_template{
		margin-right: 5px;
    	margin-left: 20px;
    	width: 127px;
	}

	.delete_template{
		margin-right: -5px;
	}

}


