{% load static %}
<footer>
    <div class="about_us">
        <h3 class="title">О нас</h3>

        <p class="about_us-text">Plan Board - это мощный инструмент для планирования различных сфер жизни. Разработан в
            сентябре 2021 года Семёном Пожарским. &#169; Все права защищены</p>
    </div>

    <div class="social_nets">
        <h3 class="title">Социальные сети</h3>

        <ul>
            <li><a href="#"><img src="{% static 'images/svg/telegram.svg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'images/svg/instagram.svg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'images/svg/twitter.svg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'images/svg/vk.svg' %}" alt=""></a></li>
        </ul>
    </div>

    <div class="footer_navigation">
        <h3 class="title">Навигация</h3>

        <ul>
            <li><a href="{% url 'index' %}" class="footer_nav_active">Главная</a></li>
            <li><a href="">Мои планы</a></li>
            <li><a href="">Помощь</a></li>
        </ul>
    </div>
</footer>